Zompire/Assets/AfricanTrees/Materials/tree_acacia_canopy_d.mat
Zompire/Assets/AfricanTrees/Materials/Tree_Acacia_Trunk_d.mat
Zompire2D/Assets/Thumbs.db.meta
Zompire2D/Assets/Thumbs.db.meta
Zompire2D/Assets/Thumbs.db.meta
Zompire2D/Assets/scene1.unity
Zompire2D/ProjectSettings/TagManager.asset
Zompire2D/Assets/Rasmusscene.unity
Zompire2D/Assets/prefab/Enemy.prefab
Zompire2D/Assets/scripts/enemy_direction.cs